html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.landing-page {
  clear: both;
  overflow: hidden;
}

header {
  overflow: hidden;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.landing-elements {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 500px;
  height: auto;
}

.button-start {
  display: inline-block;
  border: 0;
  cursor: pointer;
  padding: 20px 25px;
  background-color: #e8aa8c;
  border-radius: 0.7rem;
  font-weight: bold;
  margin: 2rem;
  margin: 1rem 1rem;
  text-transform: uppercase;
  color: #222;
  font-size: 1.4rem;
}
.button-start:hover {
  background-color: #fff;
}
