.products {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* border: 1px solid #5e616a; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 100%;
  text-align: center;
  padding: 10px 5px 20px 10px;
}

.product-img {
  height: 300px;
  width: 350px;
}

.gift-title {
  font-size: 20px;
  color: #5e616a;
}

.gift-price {
  font-size: 20px;
  margin-top: 10px;
  color: #5e616a;
}

.gift-button {
  width: 100%;
  border: none;
  padding: 15px;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  background-color: #e8aa8c;
  font-weight: bold;
  cursor: pointer;
}

.gift-button:hover {
  background-color: #5e616a;
}

.chooseCategory-title {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #5e616a;
}

select {
  color: #fff;
  border: 0;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  background-color: #e8aa8c;
  border: 1px solid #dddddd;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  width: 500px;
}

.custom-select {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.gift-search {
  border: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background-color: none;
  border: 1px solid #5e616a;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  width: 500px;
}
