.container {
  float: left;
  width: 33%;
}
.product {
  padding: 30px 0 50px;
  margin-bottom: 16px;
  text-align: center;
  overflow: hidden;
}

.product-img {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
  height: 300px;
  width: 350px;
}

.gift-title {
  font-size: 20px;
  color: #000000;
}

.gift-price {
  font-size: 20px;
  margin-top: 10px;
  color: #000;
}

.gift-store {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  color: #5e616a;
}

.gift-button {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 9px;
  background-color: #a44d43;
  font-weight: bold;
  cursor: pointer;
}

.gift-button:hover {
  background-color: #4a1c1e;
}

.chooseCategory-title {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  color: #a89263;
}

select {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  background-color: #a44d43;
  border: 1px solid #dddddd;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  width: 200px;
}

select:focus {
  outline: none;
}

.custom-select {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

@media only screen and (max-width: 1100px) {
  .container {
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    float: left;
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .product-img {
    height: 300px;
    width: 300px;
  }
}
